#
# Copyright (C) 2022 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

config NET_SOCKETS_OFFLOAD_POLL_WRAPPER
	bool "Socket offload poll() wrapper"
	default y if NRF_MODEM_LIB
	depends on NET_SOCKETS_OFFLOAD
	help
	  Enable library for communication with Golioth cloud.

if NET_SOCKETS_OFFLOAD_POLL_WRAPPER

config NET_SOCKETS_OFFLOAD_POLL_WRAPPER_SOCKET_PRIORITY
	int "Socket processing priority"
	default 10
	help
	  Processing priority for sockets implementation. This value should be lower than offloaded
	  sockets priority, which should be wrapped.

	  See NET_SOCKETS_PRIORITY_DEFAULT help for details.

config NET_SOCKETS_OFFLOAD_POLL_WRAPPER_THREAD_STACK_SIZE
	int "Stack size of thread calling poll()"
	default 1024
	help
	  Defines stack size of background thread calling poll() on offloaded
	  socket.

config NET_SOCKETS_OFFLOAD_POLL_WRAPPER_THREAD_PRIORITY
	int "Priority of thread calling poll()"
	default -2 if !PREEMPT_ENABLED
	default 0
	help
	  Priority of helper thread calling poll().

config NET_SOCKETS_OFFLOAD_POLL_WRAPPER_CONTEXT_MAX
	int "Maximum number of dispatcher sockets created"
	default POSIX_MAX_FDS
	help
	  Maximum number of dispatcher sockets created at a time. Note, that
	  only sockets that has not been dispatched yet count into the limit.
	  After a proper socket has been created for a given file descriptor,
	  the dispatcher context is released and can be reused.

endif # NET_SOCKETS_OFFLOAD_POLL_WRAPPER
