#
# Copyright (C) 2021 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

config GOLIOTH_SAMPLE_WIFI
	bool "WiFi utilities for samples"
	depends on NET_L2_WIFI_MGMT
	help
	  Enable utilities for easy WiFi setup, mainly for use inside samples/.

config GOLIOTH_SAMPLE_WIFI_SETTINGS
	bool "Load SSID and PSK from settigs subsystem"
	default y if GOLIOTH_SYSTEM_SETTINGS
	depends on GOLIOTH_SAMPLE_WIFI
	depends on SETTINGS
	help
	  Load WiFi SSID and PSK from settings subsystem, from 'wifi/ssid' and
	  'wifi/psk' entries.

if (GOLIOTH_SAMPLE_WIFI && !GOLIOTH_SAMPLE_WIFI_SETTINGS) || WIFI_ESP32

config GOLIOTH_SAMPLE_WIFI_SSID
	string "WiFi SSID"
	help
	  WiFi SSID used when connecting to WiFi AP.

config GOLIOTH_SAMPLE_WIFI_PSK
	string "WiFi PSK"
	help
	  WiFi PSK used when connecting to WiFi AP. Leave empty if connecting to
	  unsecure (open) AP.

endif # (GOLIOTH_SAMPLE_WIFI && !GOLIOTH_SAMPLE_WIFI_SETTINGS) || WIFI_ESP32
