image: zephyrprojectrtos/ci:v0.26.4

variables:
  WEST_MANIFEST: .ci-west-zephyr.yml

.west-init: &west-init
  - rm -rf .west modules/lib/golioth
  - west init -m $CI_REPOSITORY_URL --mf ${WEST_MANIFEST} --mr $CI_COMMIT_REF_NAME
  - (cd modules/lib/golioth; git checkout $CI_COMMIT_SHA)

.cache-deps: &cache-deps
  key: west-modules
  paths:
    - bootloader
    - modules
    - tools
    - zephyr

stages:
  - cache
  - check
  - build
  - test

.check:
  stage: check
  needs: []
  allow_failure: true
  except:
    - main
    - tags

.west-prepare:
  variables:
    GIT_STRATEGY: none
  needs: []
  cache:
    <<: *cache-deps
    policy: pull
  before_script:
    - *west-init
    - >
      west update -o=--depth=1 -n ||
      (west forall -c 'git clean -ffdx && git reset --hard' &&
       west update -o=--depth=1 -n)
    - west forall -c 'git clean -ffdx && git reset --hard'
    - west patch --apply

.west-build:
  extends: .west-prepare
  stage: build

cache-deps:
  extends: .west-build
  stage: cache
  cache:
    <<: *cache-deps
    policy: pull-push
  script:
    - west forall -c 'git clean -ffdx && git reset --hard'
    - rm -rf modules/lib/golioth
  only:
    refs:
      - main

checkpatch:
  extends: [.check, .west-prepare]
  before_script:
    - *west-init
    - west update modules/lib/golioth
    - >
      west update zephyr -o=--depth=1 -n ||
      (west forall -c 'git clean -ffdx && git reset --hard' &&
       west update zephyr -o=--depth=1 -n)
    - west forall -c 'git clean -ffdx && git reset --hard'
  script:
    - cd modules/lib/golioth
    - git fetch
    - CHECKPATCH="../../../zephyr/scripts/checkpatch.pl --color=always --quiet"
    - EXITCODE=0
    - $CHECKPATCH --git origin/main.. || EXITCODE=$?
    - exit $EXITCODE

gitlint:
  extends: .check
  variables:
    GIT_DEPTH: 0
  script:
    - pip3 install gitlint
    - gitlint --commits origin/main..

pre-commit:
  extends: .check
  variables:
    GIT_DEPTH: 0
  script:
    - pip3 install pre-commit
    - |
      CODE=0 # run pre-commit
      for CID in `git rev-list --reverse origin/main..`; do
          git show $CID -s --format='    pre-commit %h ("%s")'
          git checkout -f -q $CID
          pre-commit run --color always --show-diff-on-failure --from-ref $CID^ --to-ref $CID || CODE=$?
      done
      exit $CODE

.twister:
  extends: .west-prepare
  stage: test
  artifacts:
    when: always
    paths:
      - reports/*
      - twister-out/**/build.log
      - twister-out/**/handler.log
    reports:
      junit: reports/twister.xml

#
# Job depends on following environment variables:
# - GOLIOTH_PROJECT_ID: used to setup 'golioth' Python script (in this job script)
# - GOLIOTH_DEVICE_NAME: used by 'golioth' Python script (in tests scripts)
#
# - GOLIOTH_SYSTEM_SERVER_HOST: used to setup 'golioth' Python script (in this job script) and by device firmware
# - GOLIOTH_SYSTEM_SERVER_API_PORT: used to setup 'golioth' Python script (in this job script)
#
# - GOLIOTH_SYSTEM_CLIENT_PSK_ID: used by device firmware
# - GOLIOTH_SYSTEM_CLIENT_PSK: used by device firmware
#
# It is also assumed that a self-hosted goliothd is used and there is no authentication required by
# 'golioth' Python script at api URL http://${GOLIOTH_SYSTEM_SERVER_HOST}:${GOLIOTH_SYSTEM_SERVER_API_PORT}.
#
# Project with id ${GOLIOTH_PROJECT_ID} needs to exist and device with ${GOLIOTH_DEVICE_NAME} name
# needs to be provisioned with ${GOLIOTH_SYSTEM_CLIENT_PSK_ID} and ${GOLIOTH_SYSTEM_CLIENT_PSK} as
# DTLS credentials.
#
twister-qemu-goliothd:
  extends: .twister
  tags: [dev-tun]
  resource_group: goliothd
  script:
    # Set credentials to goliothd
    - mkdir -p ${HOME}/.golioth
    - |
      cat << EOF > ${HOME}/.golioth/.goliothctl.yaml
      apiurl: http://${GOLIOTH_SYSTEM_SERVER_HOST}:${GOLIOTH_SYSTEM_SERVER_API_PORT}
      projectid: ${GOLIOTH_PROJECT_ID}
      EOF
    # Install samples/tests requirements
    - pip3 install -r modules/lib/golioth/scripts/requirements-tests.txt
    - pip3 install modules/lib/golioth/scripts/python/golioth
    # Start QEMU networking utilities
    - make -C tools/net-tools tunslip6
    - tools/net-tools/loop-socat.sh &
    - sleep 1
    - sudo tools/net-tools/loop-slip-tap.sh &
    - sleep 1
    # Setup port forwarding for external network access and start network traffic recording
    - apt-get update && apt-get install -y iptables tshark
    - modules/lib/golioth/scripts/nat_config.py tap0
    - mkdir -p reports
    - tshark -f 'port 5684' -w reports/traffic.pcapng &
    # Run tests
    - >
      zephyr/scripts/twister
      --force-color
      -vvv
      -t goliothd
      -j 1
      -p qemu_x86
      -o reports
      -T modules/lib/golioth
  artifacts:
    reports:
      junit: reports/twister_report.xml

twister:
  extends: .twister
  script:
    - west blobs fetch hal_espressif
    # Build and run all non-goliothd samples/tests
    - >
      zephyr/scripts/twister
      --force-color
      -e goliothd
      -p esp32
      -p nrf52840dk_nrf52840
      -p qemu_x86
      -o reports
      -T modules/lib/golioth
    # Build-only all goliothd samples/tests
    - >
      zephyr/scripts/twister
      --force-color
      -t goliothd -b
      -p esp32
      -p nrf52840dk_nrf52840
      -p qemu_x86
      -o reports
      -T modules/lib/golioth

twister-ncs:
  extends: .twister
  variables:
    WEST_MANIFEST: west-ncs.yml
  script:
    - >
      zephyr/scripts/twister
      --force-color
      -p nrf9160dk_nrf9160_ns
      -o reports
      -T modules/lib/golioth
