# Kconfig - application configuration options

# Copyright (c) 2021 Golioth, Inc.
# SPDX-License-Identifier: Apache-2.0

menu "Golioth options"

rsource "logging/Kconfig"
rsource "mgmt/Kconfig"
rsource "net/Kconfig"

endmenu
