if MCUMGR

config MCUMGR_CMD_CFG_MGMT
	bool "Enable mcumgr handlers for config management"
	help
	  Enables mcumgr handlers for config management.

if MCUMGR_CMD_CFG_MGMT

config MCUMGR_CMD_CFG_MGMT_KEY_MAX_LEN
	int "Maximum key length"
	default 64
	help
	  Defines maximum supported key length of configuration entry.

config MCUMGR_CMD_CFG_MGMT_VAL_MAX_LEN
	int "Maximum value length"
	default 64
	help
	  Defines maximum supported value length of configuration entry.

endif # MCUMGR_CMD_CFG_MGMT

endif # MCUMGR
