mainmenu "Test options"

config GOLIOTH_SYSTEM_SERVER_HOST
	default "$(GOLIOTH_SYSTEM_SERVER_HOST)" if "$(GOLIOTH_SYSTEM_SERVER_HOST)" != ""

config GOLIOTH_SAMPLE_HARDCODED_PSK_ID
	default "$(GOLIOTH_SAMPLE_HARDCODED_PSK_ID)" if "$(GOLIOTH_SAMPLE_HARDCODED_PSK_ID)" != ""

config GOLIOTH_SAMPLE_HARDCODED_PSK
	default "$(GOLIOTH_SAMPLE_HARDCODED_PSK)" if "$(GOLIOTH_SAMPLE_HARDCODED_PSK)" != ""

source "Kconfig.zephyr"
