mainmenu "Test options"

config GOLIOTH_SYSTEM_SERVER_HOST
	default "$(GOLIOTH_SYSTEM_SERVER_HOST)" if "$(GOLIOTH_SYSTEM_SERVER_HOST)" != ""

config GOLIOTH_SYSTEM_CLIENT_PSK_ID
	default "$(GOLIOTH_SYSTEM_CLIENT_PSK_ID)" if "$(GOLIOTH_SYSTEM_CLIENT_PSK_ID)" != ""

config GOLIOTH_SYSTEM_CLIENT_PSK
	default "$(GOLIOTH_SYSTEM_CLIENT_PSK)" if "$(GOLIOTH_SYSTEM_CLIENT_PSK)" != ""

source "Kconfig.zephyr"
