#
# Copyright (C) 2021 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

config GOLIOTH
	bool "Golioth"
	depends on NETWORKING
	select COAP
	select MBEDTLS
	select MBEDTLS_DTLS
	select MBEDTLS_CIPHER_GCM_ENABLED if MBEDTLS_BUILTIN
	select NET_SOCKETS
	select NET_UDP
	imply DNS_RESOLVER if NET_NATIVE
	imply NET_SOCKETS_SOCKOPT_TLS
	imply NET_SOCKETS_ENABLE_DTLS
	help
	  Enable library for communication with Golioth cloud.

if GOLIOTH

module = GOLIOTH
module-str = golioth
source "subsys/logging/Kconfig.template.log_config"

choice GOLIOTH_AUTH_METHOD
	prompt "Authentication method support"

config GOLIOTH_AUTH_METHOD_PSK
	bool "PSK-ID / PSK only"
	imply GOLIOTH_AUTH_PSK_MBEDTLS_DEPS
	help
	  Only PSK based authentication will be supported.

config GOLIOTH_AUTH_METHOD_CERT
	bool "Certificate based only"
	imply GOLIOTH_AUTH_CERT_MBEDTLS_DEPS
	help
	  Only certificate based authentication will be supported.

endchoice

config GOLIOTH_AUTH_PSK_MBEDTLS_DEPS
	bool "mbedTLS dependencies for PSK auth"
	depends on MBEDTLS_BUILTIN
	select MBEDTLS_KEY_EXCHANGE_PSK_ENABLED
	help
	  Select mbedTLS dependencies for PSK based authentication.

	  This is a convenience option when using mbedTLS as a library to make
	  (D)TLS connection with Golioth cloud.

config GOLIOTH_AUTH_CERT_MBEDTLS_DEPS
	bool "mbedTLS dependencies for certificate based auth"
	depends on MBEDTLS_BUILTIN
	# At least one ECP needs to be selected. This was chosen arbitrarily.
	imply MBEDTLS_ECP_DP_SECP256R1_ENABLED if MBEDTLS_BUILTIN
	select MBEDTLS_KEY_EXCHANGE_ECDHE_ECDSA_ENABLED if MBEDTLS_BUILTIN
	help
	  Select mbedTLS dependencies for certificate based authentication.

	  This is a convenience option when using mbedTLS as a library to make
	  (D)TLS connection with Golioth cloud.

config GOLIOTH_HOSTNAME_VERIFICATION
	bool "Hostname verification"
	default y if GOLIOTH_AUTH_METHOD_CERT
	help
	  Enable hostname verification on (D)TLS layer.

config GOLIOTH_CIPHERSUITES
	string "Ciphersuites"
	# Select single PSK ciphersuite (following ciphersuite preference in mbedTLS)
	default "TLS_PSK_WITH_AES_128_GCM_SHA256" if (GOLIOTH_AUTH_METHOD_PSK && MBEDTLS_BUILTIN && MBEDTLS_CIPHER_GCM_ENABLED)
	default "TLS_PSK_WITH_AES_128_CCM" if (GOLIOTH_AUTH_METHOD_PSK && MBEDTLS_BUILTIN && MBEDTLS_CIPHER_CCM_ENABLED)
	default "TLS_PSK_WITH_AES_128_CBC_SHA256" if (GOLIOTH_AUTH_METHOD_PSK && MBEDTLS_BUILTIN && MBEDTLS_CIPHER_MODE_CBC_ENABLED)
	# Same, but for NCS flavour of mbedTLS
	default "TLS_PSK_WITH_AES_128_GCM_SHA256" if (GOLIOTH_AUTH_METHOD_PSK && ZEPHYR_NRF_MODULE && MBEDTLS_TLS_LIBRARY && MBEDTLS_GCM_C)
	default "TLS_PSK_WITH_AES_128_CCM" if (GOLIOTH_AUTH_METHOD_PSK && ZEPHYR_NRF_MODULE && MBEDTLS_TLS_LIBRARY && MBEDTLS_CCM_C)
	default "TLS_PSK_WITH_AES_128_CBC_SHA256" if (GOLIOTH_AUTH_METHOD_PSK && ZEPHYR_NRF_MODULE && MBEDTLS_TLS_LIBRARY && MBEDTLS_CIPHER_MODE_CBC)
	# Select all supported PSK ciphersuites if not using MBEDTLS_BUILTIN
	default "TLS_PSK_WITH_AES_128_GCM_SHA256 TLS_PSK_WITH_AES_128_CCM TLS_PSK_WITH_AES_128_CBC_SHA256 TLS_PSK_WITH_AES_128_CCM_8" if GOLIOTH_AUTH_METHOD_PSK
	# Select single cert-based ciphersuite (following ciphersuite preference in mbedTLS)
	default "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256" if (GOLIOTH_AUTH_METHOD_CERT && MBEDTLS_BUILTIN && MBEDTLS_CIPHER_GCM_ENABLED)
	default "TLS_ECDHE_ECDSA_WITH_AES_128_CCM" if (GOLIOTH_AUTH_METHOD_CERT && MBEDTLS_BUILTIN && MBEDTLS_CIPHER_CCM_ENABLED)
	# Same, but for NCS flavour of mbedTLS
	default "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256" if (GOLIOTH_AUTH_METHOD_CERT && ZEPHYR_NRF_MODULE && MBEDTLS_TLS_LIBRARY && MBEDTLS_GCM_C)
	default "TLS_ECDHE_ECDSA_WITH_AES_128_CCM" if (GOLIOTH_AUTH_METHOD_CERT && ZEPHYR_NRF_MODULE && MBEDTLS_TLS_LIBRARY && MBEDTLS_CCM_C)
	# Select all supported cert-based ciphersuites if not using MBEDTLS_BUILTIN
	default "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_128_CCM TLS_ECDHE_ECDSA_WITH_AES_128_CCM_8" if GOLIOTH_AUTH_METHOD_CERT
	help
	  Ciphersuite list used during (D)TLS handshakes. Default value contains currently supported
	  ciphersuites by Golioth server.

	  Use string representations of ciphersuites as defined by IANA in:
	  https://www.iana.org/assignments/tls-parameters/tls-parameters.xhtml

	  Select single ciphersuite to reduce data exchanged during (D)TLS handshake, due to reduced
	  ciphersuite list in Client Hello message.

	  Make sure that credentials (e.g. using Zephyr TLS credentials subsystem) are configured
	  for each ciphersuite (e.g. PSKs for PSK-based ciphersuites or certificates for
	  certificate-based ciphersuites) that is negotiated.

	  If empty, then underlying TLS implementation (e.g. mbedTLS library) decides which
	  ciphersuites to use. Relying on that is not recommended!

config GOLIOTH_COAP_MAX_OPTIONS
	int "Maximum CoAP options supported"
	default 16
	help
	  Maximum CoAP options supported by Golioth client.

config GOLIOTH_FW
	bool "Firmware management"
	select QCBOR
	help
	  Enable Golioth firmware management, which allows to ask for newest
	  desired firmware and issue firmware download process.

config GOLIOTH_RPC
	bool "Remote Procedure Call"
	select QCBOR
	help
	  Enable Golioth Remote Procedure Call feature.

config GOLIOTH_RPC_MAX_NUM_METHODS
	int "Maximum number of registered Golioth RPC methods"
	depends on GOLIOTH_RPC
	default 8
	help
	  Maximum number of Golioth Remote Procedure Call methods that can
	  be registered.

config GOLIOTH_SETTINGS
	bool "Settings cloud service"
	select QCBOR
	help
	  Enable Golioth Settings feature. Not to be confused
	  with Zephyr's own Settings subsystem.

config GOLIOTH_FW_PACKAGE_NAME_MAX_LEN
	int "Maximum length of package name"
	default 32
	help
	  Defines maximum supported firmware package name.

config GOLIOTH_SYSTEM_CLIENT
	bool "System client"
	select EVENTFD
	help
	  Enable Golioth system client, which will configure client connection
	  and be responsible for reconnecting in case of networking issues.

if GOLIOTH_SYSTEM_CLIENT

config GOLIOTH_SYSTEM_CLIENT_CREDENTIALS_TAG
	int "TLS credentials secure tag"
	default 515765868
	help
	  Secure tag, which is a reference to TLS credential. This value is
	  configured on created (D)TLS socket in order reference credentials
	  used during connection handshake.

	  See 'sec_tag_t' typedef in Zephyr for details.

config GOLIOTH_SYSTEM_CLIENT_STACK_SIZE
	int "Stack size"
	default 3072
	help
	  Defines system client thread stack size.

config GOLIOTH_SYSTEM_CLIENT_THREAD_PRIORITY
	int "Thread priority"
	default 14
	help
	  Priority at which the Golioth client system thread runs.

config GOLIOTH_SYSTEM_SERVER_HOST
	string "Server Host"
	default "coap.golioth.io" if ((NET_NATIVE && NET_IPV4 && DNS_RESOLVER) || NET_SOCKETS_OFFLOAD)
	default NET_CONFIG_PEER_IPV4_ADDR if (NET_CONFIG_SETTINGS && NET_IPV4)
	default NET_CONFIG_PEER_IPV6_ADDR if (NET_CONFIG_SETTINGS && NET_IPV6)
	help
	  Defines hostname or IP address of Golioth server.

config GOLIOTH_SYSTEM_SERVER_PORT
	int "Server Port"
	default 5684
	help
	  Defines port number of Golioth server.

if GOLIOTH_AUTH_METHOD_PSK

config GOLIOTH_SYSTEM_CLIENT_PSK_ID
	string "PSK ID"
	depends on !GOLIOTH_SYSTEM_SETTINGS
	help
	  Defines PSK ID used during DTLS handshake with Golioth server.

config GOLIOTH_SYSTEM_CLIENT_PSK
	string "PSK"
	depends on !GOLIOTH_SYSTEM_SETTINGS
	help
	  Defines PSK used during DTLS handshake with Golioth server.

endif # GOLIOTH_AUTH_METHOD_PSK

if GOLIOTH_AUTH_METHOD_CERT

config GOLIOTH_SYSTEM_CLIENT_CA_PATH
	string "CA certificate path"
	default "ca.der"
	help
	  Path to CA certificate used for verifying server certificate.

	  Must be in DER (binary) format.

	  Absolute path or relative to application root directory (APPLICATION_SOURCE_DIR).

config GOLIOTH_SYSTEM_CLIENT_CRT_PATH
	string "Public certificate path"
	help
	  Path to client's public certificate.

	  Must be in DER (binary) format.

config GOLIOTH_SYSTEM_CLIENT_KEY_PATH
	string "Private key path"
	help
	  Path to client's private key.

	  Must be in DER (binary) format.

endif # GOLIOTH_AUTH_METHOD_CERT

module = GOLIOTH_SYSTEM_CLIENT
module-str = Log level for Golioth system client
module-help = Sets log level for Golioth system client.
source "subsys/logging/Kconfig.template.log_config"

config GOLIOTH_SYSTEM_CLIENT_INIT_PRIORITY
	int "Initialization priority"
	default APPLICATION_INIT_PRIORITY
	help
	  Initialization priority of Golioth system client.

config GOLIOTH_SYSTEM_CLIENT_PING_INTERVAL_SEC
	int "Ping interval (seconds)"
	default 9
	help
	  Periodic interval between consecutive ping messages being sent to
	  Golioth.

config GOLIOTH_SYSTEM_CLIENT_RX_TIMEOUT_SEC
	int "Receive timeout (seconds)"
	default 30
	help
	  Receive timeout, after which connection will be reestablished.

config GOLIOTH_SYSTEM_CLIENT_RX_BUF_SIZE
	int "Receive buffer size"
	default 1280
	help
	  Size of receive buffer, which is used for reading data from network
	  socket.

config GOLIOTH_SYSTEM_SETTINGS
	bool "Load credentials from persistent settings"
	depends on SETTINGS
	default y
	help
	  When selected, Golioth credentials will be loaded from settings
	  subsystem.

endif # GOLIOTH_SYSTEM_CLIENT

endif # GOLIOTH
