#
# Copyright (C) 2021 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

config GOLIOTH
	bool "Golioth"
	depends on NETWORKING
	select COAP
	select MBEDTLS
	select MBEDTLS_DTLS
	select MBEDTLS_KEY_EXCHANGE_PSK_ENABLED if MBEDTLS_BUILTIN
	select MBEDTLS_CIPHER_GCM_ENABLED if MBEDTLS_BUILTIN
	select NET_SOCKETS
	select NET_UDP
	imply DNS_RESOLVER if NET_NATIVE
	imply NET_SOCKETS_SOCKOPT_TLS
	imply NET_SOCKETS_ENABLE_DTLS
	help
	  Enable library for communication with Golioth cloud.

if GOLIOTH

module = GOLIOTH
module-str = golioth
source "subsys/logging/Kconfig.template.log_config"

config GOLIOTH_COAP_MAX_OPTIONS
	int "Maximum CoAP options supported"
	default 16
	help
	  Maximum CoAP options supported by Golioth client.

config GOLIOTH_FW
	bool "Firmware management"
	select QCBOR
	help
	  Enable Golioth firmware management, which allows to ask for newest
	  desired firmware and issue firmware download process.

config GOLIOTH_FW_PACKAGE_NAME_MAX_LEN
	int "Maximum length of package name"
	default 32
	help
	  Defines maximum supported firmware package name.

config GOLIOTH_SYSTEM_CLIENT
	bool "System client"
	select EVENTFD
	help
	  Enable Golioth system client, which will configure client connection
	  and be responsible for reconnecting in case of networking issues.

if GOLIOTH_SYSTEM_CLIENT

config GOLIOTH_SYSTEM_CLIENT_STACK_SIZE
	int "Stack size"
	default 3072
	help
	  Defines system client thread stack size.

config GOLIOTH_SYSTEM_SERVER_HOST
	string "Server Host"
	default "coap.golioth.io" if ((NET_NATIVE && NET_IPV4 && DNS_RESOLVER) || NET_SOCKETS_OFFLOAD)
	default NET_CONFIG_PEER_IPV4_ADDR if (NET_CONFIG_SETTINGS && NET_IPV4)
	default NET_CONFIG_PEER_IPV6_ADDR if (NET_CONFIG_SETTINGS && NET_IPV6)
	help
	  Defines hostname or IP address of Golioth server.

config GOLIOTH_SYSTEM_SERVER_PORT
	int "Server Port"
	default 5684 if NET_SOCKETS_SOCKOPT_TLS
	default 5683
	help
	  Defines port number of Golioth server.

config GOLIOTH_SYSTEM_CLIENT_PSK_ID
	string "PSK ID"
	depends on !GOLIOTH_SYSTEM_SETTINGS
	help
	  Defines PSK ID used during DTLS handshake with Golioth server.

config GOLIOTH_SYSTEM_CLIENT_PSK
	string "PSK"
	depends on !GOLIOTH_SYSTEM_SETTINGS
	help
	  Defines PSK used during DTLS handshake with Golioth server.

module = GOLIOTH_SYSTEM_CLIENT
module-str = Log level for Golioth system client
module-help = Sets log level for Golioth system client.
source "subsys/logging/Kconfig.template.log_config"

config GOLIOTH_SYSTEM_CLIENT_INIT_PRIORITY
	int "Initialization priority"
	default APPLICATION_INIT_PRIORITY
	help
	  Initialization priority of Golioth system client.

config GOLIOTH_SYSTEM_CLIENT_PING_INTERVAL_SEC
	int "Ping interval (seconds)"
	default 9
	help
	  Periodic interval between consecutive ping messages being sent to
	  Golioth.

config GOLIOTH_SYSTEM_CLIENT_RX_TIMEOUT_SEC
	int "Receive timeout (seconds)"
	default 30
	help
	  Receive timeout, after which connection will be reestablished.

config GOLIOTH_SYSTEM_CLIENT_RX_BUF_SIZE
	int "Receive buffer size"
	default 1280
	help
	  Size of receive buffer, which is used for reading data from network
	  socket.

choice GOLIOTH_SYSTEM_CLIENT_TIMEOUT
	prompt "Communication timeout mechanism"
	default GOLIOTH_SYSTEM_CLIENT_TIMEOUT_USING_EVENTFD

config GOLIOTH_SYSTEM_CLIENT_TIMEOUT_USING_EVENTFD
	bool "eventfd"
	help
	  Delayable work is used to detect communication timeouts and then
	  eventfd mechanism is used to trigger mainloop.

config GOLIOTH_SYSTEM_CLIENT_TIMEOUT_USING_POLL
	bool "poll"
	help
	  Timeout parameter is passed to poll() system call, so that any receive
	  communication timeouts are detected directly there.

endchoice

config GOLIOTH_SYSTEM_SETTINGS
	bool "Load credentials from persistent settings"
	depends on SETTINGS
	default y
	help
	  When selected, Golioth credentials will be loaded from settings
	  subsystem.

endif # GOLIOTH_SYSTEM_CLIENT

endif # GOLIOTH
