name: Build test

on:
  push:
    branches: [ main ]
  pull_request:

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: zephyrprojectrtos/ci:v0.24.2

    env:
      ZEPHYR_SDK_INSTALL_DIR: /opt/toolchains/zephyr-sdk-0.15.0

    steps:
      - uses: actions/checkout@v2
        with:
          path: modules/lib/golioth

      - name: Init and update west
        run: |
          mkdir -p .west
          cat <<EOF > .west/config
          [manifest]
          path = modules/lib/golioth
          file = west-zephyr.yml
          EOF

          west update -o=--depth=1 -n
          west patch --apply

      - name: Download binary blobs
        run: |
          west blobs fetch hal_espressif

      - name: Run twister (non goliothd)
        run: >
          zephyr/scripts/twister
          -e goliothd
          -p esp32
          -p nrf52840dk_nrf52840
          -p qemu_x86
          -o reports
          -T modules/lib/golioth

      - name: Run twister (goliothd)
        run: >
          zephyr/scripts/twister
          -t goliothd -b
          -p esp32
          -p nrf52840dk_nrf52840
          -p qemu_x86
          -o reports
          -T modules/lib/golioth

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: twister-artifacts
          path: |
            reports/*
            twister-out/**/build.log
            twister-out/**/handler.log
