name: Build test

on:
  push:
    branches: [ main ]
  pull_request:

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    container: golioth/golioth-zephyr-base:0.16.3-SDK-v0

    env:
      ZEPHYR_SDK_INSTALL_DIR: /opt/toolchains/zephyr-sdk-0.16.3

    strategy:
      fail-fast: false
      matrix:
        board:
          - esp32_devkitc_wroom
          - nrf52840dk_nrf52840
          - qemu_x86

    steps:
      - uses: actions/checkout@v4
        with:
          path: modules/lib/golioth

      - name: Init and update west
        run: |
          mkdir -p .west
          cat <<EOF > .west/config
          [manifest]
          path = modules/lib/golioth
          file = .ci-west-zephyr.yml
          EOF

          west update -o=--depth=1 -n
          git config --global user.email user@git-scm.com
          git config --global user.name "Git User"
          west patch

          pip3 install -r zephyr/scripts/requirements-base.txt
          pip3 install -r zephyr/scripts/requirements-build-test.txt
          pip3 install -r zephyr/scripts/requirements-run-test.txt
          # Needed for TF-M
          pip3 install cryptography pyasn1 pyyaml cbor>=1.0.0 imgtool>=1.9.0 jinja2 click

      - name: Download binary blobs
        run: |
          west blobs fetch hal_espressif

      - name: Run twister (non goliothd)
        run: >
          zephyr/scripts/twister
          --no-clean
          -e goliothd
          -p ${{ matrix.board }}
          -o reports/non_goliothd
          -T modules/lib/golioth

      - name: Run twister (goliothd)
        run: >
          zephyr/scripts/twister
          --no-clean
          -t goliothd -b
          -p ${{ matrix.board }}
          -o reports/goliothd
          -T modules/lib/golioth

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: twister-artifacts
          path: |
            reports/*
            twister-out/**/*.log
