name: Build test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: zephyrprojectrtos/ci:v0.23.1

    env:
      ZEPHYR_SDK_INSTALL_DIR: /opt/toolchains/zephyr-sdk-0.14.1

    steps:
      - uses: actions/checkout@v2
        with:
          path: modules/lib/golioth

      - name: Init and update west
        run: |
          mkdir -p .west
          cat <<EOF > .west/config
          [manifest]
          path = modules/lib/golioth
          file = west.yml
          EOF

          west update -o=--depth=1 -n
          west patch --apply

      - name: Run twister
        run: |
          zephyr/scripts/twister -T modules/lib/golioth

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: twister-artifacts
          path: |
            reports/*
            twister-out/**/build.log
