# This is a basic workflow to help you get started with Actions

name: Hello world build

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main, actions ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    container:
      image: zephyrprojectrtos/ci:v0.11.13

    env:
      ZEPHYR_TOOLCHAIN_VARIANT: zephyr
      ZEPHYR_SDK_INSTALL_DIR: /opt/sdk/zephyr-sdk-0.12.2

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          path: golioth

      # Caches dependencies, so west update is much faster
      - uses: actions/cache@v2
        with:
          path: |
            bootloader
            modules
            tools
            zephyr
          key: ${{ runner.os }}-modules

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.

      # Runs west to build hello world
      - name: Run a multi-line script
        run: |
          west init -l golioth
          west update
          west build -b qemu_x86 zephyr/samples/hello_world
